<header class="navbar">
    <div class="logo-content">
        <img src="../../../assets/logo-udemy.svg " width="120px"  style="margin-left: -35mm;" alt="booklogo"  />
        <div>
            <div class="dropdown" style="float:left;">
                <button class="dropbtn">Cateogories</button>
                <div class="dropdown-content" style="left:0;">
                  <a href="https://www.udemy.com/courses/development/">Development</a>
                  <a href="https://www.udemy.com/courses/business/">Business</a>
                  <a href="https://www.udemy.com/courses/finance-and-accounting/">Finance & Accounting</a>
                  <a href="https://www.udemy.com/courses/it-and-software/">IT & Software</a>
                </div>
        </div>
       </div>
        
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="text"  placeholder="Search" aria-label="Search" >
            <!-- <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button> -->
          </form>
          <span class="addressBook-text" style="font-size: 4mm; margin-left: 2mm;" > udemy business</span>&nbsp; <br />
          <span class="addressBook-text"  style="font-size: 4mm; margin-left: 2mm; "> Teach on Udemy</span>&nbsp; <br />
          <img src="../../../assets/logo.png " width="40px" alt="booklogo"  />&nbsp;&nbsp;&nbsp;

          <button class="text-decoration-none" style="margin-left: 5mm;" (click)="onClickLogin()" >Login</button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="text-decoration-none" style="margin-left: 5mm; color: white ; background-color: black; " (click)="onClickSignup()">Sign up</button>
          <img src="../../../assets/4636.jpg" style="margin-left: 10mm; "  width="45px" height="32px" alt="booklogo"  />
    </div>
 <div > 
        </div>
        <div style="margin-top: 5mm;">
            <div class="card" style="width: 20rem; margin-top: 5mm; margin-left: 25mm; position:absolute;  ">
                <div class="card-body">
                    <h1 >New to Udemy? Lucky you.</h1>
                    <p >Courses start at ₹455. Get your new-student offer before it expires.</p>
                </div>
              </div>
            
        <img src="../../../assets/cycle.jpg " alt="booklogo" style="margin-left: 20mm;" /></div>
<div>
        <h1 style="margin-left: 20mm ; margin-top: 5mm;">A broad selection of courses</h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p style=" margin-top: 1mm; margin-left: 20mm; font-size: large;">Choose from 185,000 online video courses with new additions published every month</p>
    </div>
</header>
